build/
install/
*.user
*.so
*.so.*
*.a
*.o
*.mp4
*.jpg
*.png
*.rknn
*.bin
3rdparty/ffmpeg/lib/
3rdparty/ffmpeg/bin/
3rdparty/opencv/
3rdparty/openssl1.1.0/lib/
3rdparty/openssl1.1.0/bin/
3rdparty/rknpu2/Linux/
3rdparty/rknpu2/android/
3rdparty/librga/lib/
3rdparty/mpp/lib/
3rdparty/jsoncpp/lib/
3rdparty/zmq/lib/
3rdparty/libyuv/lib/
3rdparty/zlmediakit/aarch64/
3rdparty/jpeg_turbo/Linux/
3rdparty/jpeg_turbo/Android/
3rdparty/jpeg_turbo/iOS/
3rdparty/jpeg_turbo/Windows/
.DS_Store
*.log
gmon.out
